CONTRATO=
POSTGRES_DB=seguricel
POSTGRES_USER=seguricel
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


#esta variable de entorno corresponde al numero de dias
#que se van a acumular en la actividad, cuando se rebase
#ese numero, se procedera a borrar toda la actividad en la
#base de datos
DIAS_ACUMULAR=62

URL_API=https://webseguricel.up.railway.app/
API_AUTH_USER=
API_AUTH_PASSWORD=

# cada cuantas horas se debe volver a sincronizar cada tabla local contra el backend
HORAS_ACTUALIZAR_DISPOSITIVOS=24
HORAS_ACTUALIZAR_USUARIOS=24
HORAS_ACTUALIZAR_HORARIOS=24
HORAS_ACTUALIZAR_VEHICULOS_INFORMACION=24
HORAS_ACTUALIZAR_VEHICULOS_TAGS_RFID=24